// COLORS
$color-white: #ffffff;
$color-dark: #1a1a1a;
$color-light-text: #b3b3b3;
$color-light-bg: #f1f1f1;
$color-primary: #6b5cd9;
$color-primary-light: #5e50c2;
$color-secondary: #ffcf0d;
$color-secondary-hover: #ffe013;
$color-secondary-light: #fff9f5;
$color-secondary-default: #d8d8d8;
$color-danger: #f42d28;
$color-success: #6bae22;
$color-social-text: #7f7f7f;
$color-border: #edf1f2;
$color-border-disabled: #fafafa;
$color-btn-element: #767676;

$color-silver: #c9c9c9;
$color-gold: #d9c79c;
$color-gray-dark: #595959;

$padding-container: 3%;
$padding-container-width50: 6%;




