@import "../../assets/scss/variables";

.slider-wrap {
  padding-top: 101px;
  padding-bottom: 104px;
}

.slider {
  display: flex;
  &__box-left, &__box-right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  &__text {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 43px 21px 8px;
    text-transform: uppercase;
    position: relative;
    min-height: 110px;
    display: flex;
    align-items: flex-end;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #edf1f2;
    }
  }
  &__box-left {
    width: 25.2%;
    .slider__text {
      text-align: right;
      justify-content: flex-end;
      padding-left: 0;
      &::before{
        right: 0;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
      }
    }
  }
  &__box-right {
    width: 23.6%;
    .slider__text {
      padding-right: 0;
      &::before{
        left: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
      }
    }
  }
  &__item {
    width: 100%;
    border: 2px solid #edf1f3;
    position: relative;
    img {
      width: 90%;
      min-height: 371px;
      transform: translate(5%, -51px);
    }
  }
  &__num-slide {
    position: absolute;
    bottom: 10px;
    right: 32px;
    display: flex;
    align-items: flex-end;
    & > span {
      font-weight: bold;
    }
  }
  &__current-num {
    font-size: 36px;
    color: $color-primary;
    line-height: 25px;
  }
  &__all-num {
    font-size: 18px;
    color: #c2c2c2;
  }
  &__buttons {
    position: absolute;
    width: 135px;
    display: flex;
    justify-content: space-between;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
}
